body, html { 
  font: normal 14px/1.8 Arial, sans-serif;
  position:relative;
  width: 100%;
  height: 100%;
}
#wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
#mapwrap {
  
}
#map {
  margin:50px;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  padding:0;
}  